# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
venv/
.venv/
.envrc
.DS_Store

# VSCode
.vscode/

# Docker
.dockerignore

# OS
Thumbs.db

# Test & coverage
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

node_modules/

scripts/rates_bk_*.sql

# Project files
UPCOMING_ISSUES.md

.cursor/
PRD_AND_TASKS.md